PyWavelets==1.4.1
opencv-python==4.7.0.72
seaborn==0.12.2
numpy~=1.21.1
jupyter~=1.0.0
pip~=22.2.2
panel~=0.13.1
dataclasses~=0.8
attrs~=21.4.0
zlib~=1.2.12
pathlib~=1.0.1
wheel~=0.37.1
openssl~=1.1.1q
cryptography~=37.0.1
pillow~=9.2.0
docutils~=0.18.1
sphinx~=5.0.2
tornado~=6.1
jinja2~=2.11.3
pytest~=7.1.2
cython~=0.29.32
setuptools~=63.4.1
pytz~=2022.1
nose~=1.3.7
cffi~=1.15.1
numba~=0.55.1
typing_extensions~=4.3.0
joblib~=1.1.0
lz4~=3.1.3
distributed~=2022.7.0
dask~=2022.7.0
psutil~=5.9.0
cloudpickle~=2.0.0
backports~=1.1
packaging~=21.3
pyparsing~=3.0.9
zipp~=3.8.0
future~=0.18.2
flask~=1.1.2